<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cassino gambling
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cassino gambling</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to gambling</strong>
    <p>Start with cassino gambling</p>
    <label>Escolha um número de 1 a 10: </label>
    <input [(ngModel)]="nm_escolhido" type="number">
    <ion-button (click)="comparar()">Apostar</ion-button>
  </div>
</ion-content>
